.movingTail{
  animation: moveTail 3s infinite;
}

.scalingHead{
  animation: scaleHead 3s infinite;
}

.laserEyes{
  animation: laserEyesAnimation 3s infinite;
}

.dancingFeet{
  animation: dancingFeetAnimation 0.3s infinite;
}

.dancingFeet1{
  animation: dancingFeetAnimation1 0.3s infinite;
}



@keyframes moveTail {
  /*define the move in a matter of percentages aka 0-100% = full movement */

  /*deinfe what's going to happen at the start of the animation*/
  0% {
    /*head starts in normal position*/
    transform: rotate(-50deg);
  }

  50% {
    transform: rotate(-20deg);
  }

  /*define what the finishing position looks like */
  100% {
    transform: rotate(-50deg);
  }

}

@keyframes scaleHead {
  0% {
    transform: scale(1,1);
  }

  50% {
    transform: scale(1.1,1.1);
  }

  100% {
    transform: scale(1,1);
  }
}

@keyframes laserEyesAnimation {
  0%{
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;

  }

  50% {
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-left: 10px solid;
    border-right: 10px solid;

  }

  100% {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;

  }
}

@keyframes dancingFeetAnimation {
  0%{
    transform: translate(0px, 0px);

  }

  50% {
    transform: translate(0px, 1.25px);

  }

  100% {
    transform: translate(0px, -1.25px);

  }
}
@keyframes dancingFeetAnimation1 {
  0%{
    transform: translate(0px, 0px);

  }

  50% {
    transform: translate(0px, -1.25px);

  }

  100% {
    transform: translate(0px, 1.25px);

  }
}
